In [1]:
#importando as bibliotecas
import pandas as pd
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#lendo o arquivo de ações
#Lendo csv

df = pd.read_csv("D:\\acoes\\all_bovespa.csv", delimiter=';')
df

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios
0,2020-01-02,AALR3,ALLIAR,18.29,19.00,18.28,19.00,585800.0,1.094620e+09
1,2020-01-02,AAPL34,APPLE,120.00,121.34,120.00,121.34,12700.0,1.533380e+08
2,2020-01-02,ABCB4,ABC BRASIL,20.00,20.30,19.82,20.30,870400.0,1.745788e+09
3,2020-01-02,ABEV3,AMBEV S/A,18.86,19.25,18.78,19.20,16011300.0,3.062348e+10
4,2020-01-02,ADHM3,ADVANCED-DH,2.55,2.55,2.35,2.48,193400.0,4.719270e+07
...,...,...,...,...,...,...,...,...,...
130451,2021-01-13,Z1TO34,ZTO EXPRESS,39.74,39.74,39.74,39.74,79.0,3.139460e+05
130452,2021-01-14,Z1TO34,ZTO EXPRESS,38.96,38.96,38.88,38.88,919.0,3.574432e+06
130453,2021-01-15,Z1TO34,ZTO EXPRESS,39.03,39.03,39.03,39.03,930.0,3.629790e+06
130454,2021-01-11,Z1TS34,ZOETIS INC,233.41,233.41,233.41,233.41,400.0,9.336400e+06
130455,2021-01-12,Z1TS34,ZOETIS INC,234.00,234.00,231.19,231.19,34.0,7.867520e+05

In [3]:
#Itau
df_itau = df[df['sigla_acao'] == 'ITUB4' ]

In [4]:
df_itau.tail(10)

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios
122738,2021-01-04,ITUB4,ITAUUNIBANCO,31.98,31.99,30.84,30.90,31347800.0,9.744949e+10
123816,2021-01-05,ITUB4,ITAUUNIBANCO,30.73,31.06,30.17,30.70,28249800.0,8.648705e+10
125331,2021-01-06,ITUB4,ITAUUNIBANCO,30.98,32.06,30.79,31.55,43061900.0,1.365655e+11
125332,2021-01-07,ITUB4,ITAUUNIBANCO,31.65,33.06,31.50,32.83,46129800.0,1.502078e+11
125333,2021-01-08,ITUB4,ITAUUNIBANCO,32.93,33.44,32.43,32.82,52532500.0,1.721607e+11
128673,2021-01-11,ITUB4,ITAUUNIBANCO,32.47,32.70,31.72,32.08,31564300.0,1.016568e+11
128674,2021-01-12,ITUB4,ITAUUNIBANCO,32.18,32.45,32.02,32.18,33089300.0,1.066563e+11
128675,2021-01-13,ITUB4,ITAUUNIBANCO,32.18,32.53,31.26,31.65,42722600.0,1.354698e+11
128676,2021-01-14,ITUB4,ITAUUNIBANCO,32.02,32.94,31.67,32.59,28222500.0,9.166648e+10
128677,2021-01-15,ITUB4,ITAUUNIBANCO,32.05,32.39,31.35,31.36,37757100.0,1.193353e+11

In [5]:
#verificar o tipo do arquivo
df_itau.dtypes

data_pregao          object
sigla_acao           object
nome_acao            object
preco_abertura      float64
preco_max           float64
preco_minimo        float64
preco_fechamento    float64
qtd_negocios        float64
volume_negocios     float64
dtype: object

In [6]:
#Mudar o tipo data
df_itau['data_pregao'] = pd.to_datetime(df_itau['data_pregao'], format='%Y-%m-%d')

C:\Users\fabri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df_itau.dtypes

data_pregao         datetime64[ns]
sigla_acao                  object
nome_acao                   object
preco_abertura             float64
preco_max                  float64
preco_minimo               float64
preco_fechamento           float64
qtd_negocios               float64
volume_negocios            float64
dtype: object

In [8]:
df_itau.tail()

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios
128673,2021-01-11,ITUB4,ITAUUNIBANCO,32.47,32.70,31.72,32.08,31564300.0,1.016568e+11
128674,2021-01-12,ITUB4,ITAUUNIBANCO,32.18,32.45,32.02,32.18,33089300.0,1.066563e+11
128675,2021-01-13,ITUB4,ITAUUNIBANCO,32.18,32.53,31.26,31.65,42722600.0,1.354698e+11
128676,2021-01-14,ITUB4,ITAUUNIBANCO,32.02,32.94,31.67,32.59,28222500.0,9.166648e+10
128677,2021-01-15,ITUB4,ITAUUNIBANCO,32.05,32.39,31.35,31.36,37757100.0,1.193353e+11

In [9]:
#criando novos campos de medias móveis
df_itau['mm5d'] = df_itau['preco_fechamento'].rolling(5).mean()
df_itau['mm21d'] = df_itau['preco_fechamento'].rolling(21).mean()

C:\Users\fabri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\fabri\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
df_itau.head(22)

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios,mm5d,mm21d
202,2020-01-02,ITUB4,ITAUUNIBANCO,37.28,38.03,36.99,38.03,20666100.0,7.812151e+10,NaN,NaN
844,2020-01-03,ITUB4,ITAUUNIBANCO,37.50,38.24,37.45,37.63,24891400.0,9.400384e+10,NaN,NaN
845,2020-01-06,ITUB4,ITAUUNIBANCO,37.55,37.58,36.91,37.07,22294700.0,8.294725e+10,NaN,NaN
2273,2020-01-07,ITUB4,ITAUUNIBANCO,37.07,37.24,36.21,36.21,20000900.0,7.294927e+10,NaN,NaN
2274,2020-01-08,ITUB4,ITAUUNIBANCO,36.45,36.81,35.62,35.62,25980900.0,9.345243e+10,36.912,NaN
2275,2020-01-09,ITUB4,ITAUUNIBANCO,35.79,35.93,34.52,34.91,48423800.0,1.694589e+11,36.288,NaN
2276,2020-01-10,ITUB4,ITAUUNIBANCO,35.08,35.45,34.57,34.60,25521600.0,8.900229e+10,35.682,NaN
4821,2020-01-13,ITUB4,ITAUUNIBANCO,35.02,35.40,34.74,35.06,29200700.0,1.025651e+11,35.280,NaN
4822,2020-01-14,ITUB4,ITAUUNIBANCO,34.92,35.06,34.63,35.06,18433300.0,6.424604e+10,35.050,NaN
4823,2020-01-15,ITUB4,ITAUUNIBANCO,34.89,34.94,34.40,34.63,32757500.0,1.134815e+11,34.852,NaN
4824,2020-01-16,ITUB4,ITAUUNIBANCO,34.90,35.07,34.42,34.70,22857500.0,7.940644e+10,34.810,NaN
4825,2020-01-17,ITUB4,ITAUUNIBANCO,34.90,35.30,34.73,34.94,19722900.0,6.900594e+10,34.878,NaN
4826,2020-01-20,ITUB4,ITAUUNIBANCO,34.80,35.00,34.16,34.23,18322200.0,6.311801e+10,34.712,NaN
4827,2020-01-21,ITUB4,ITAUUNIBANCO,34.01,34.48,33.44,33.50,26878100.0,9.077382e+10,34.400,NaN
4828,2020-01-22,ITUB4,ITAUUNIBANCO,33.85,34.07,33.50,33.70,17443500.0,5.874532e+10,34.214,NaN
4829,2020-01-23,ITUB4,ITAUUNIBANCO,33.50,34.81,33.40,34.50,33077600.0,1.135770e+11,34.174,NaN
8317,2020-01-24,ITUB4,ITAUUNIBANCO,34.61,34.62,33.95,34.24,14756100.0,5.052616e+10,34.034,NaN
8318,2020-01-27,ITUB4,ITAUUNIBANCO,33.74,34.09,33.41,33.50,14387100.0,4.849840e+10,33.888,NaN
8319,2020-01-28,ITUB4,ITAUUNIBANCO,33.77,33.97,33.30,33.49,17185400.0,5.758163e+10,33.886,NaN
8320,2020-01-29,ITUB4,ITAUUNIBANCO,33.69,33.79,32.92,32.97,20071400.0,6.680223e+10,33.740,NaN
8321,2020-01-30,ITUB4,ITAUUNIBANCO,32.65,33.45,32.58,33.45,41789800.0,1.374939e+11,33.530,34.859048
8322,2020-01-31,ITUB4,ITAUUNIBANCO,32.99,33.39,32.54,32.82,25459800.0,8.358342e+10,33.246,34.610952

In [11]:
#Empurrando para frente os valores das ações
df_itau['preco_fechamento'] = df_itau['preco_fechamento'].shift(-1)

df_itau.head()

C:\Users\fabri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios,mm5d,mm21d
202,2020-01-02,ITUB4,ITAUUNIBANCO,37.28,38.03,36.99,37.63,20666100.0,7.812151e+10,NaN,NaN
844,2020-01-03,ITUB4,ITAUUNIBANCO,37.50,38.24,37.45,37.07,24891400.0,9.400384e+10,NaN,NaN
845,2020-01-06,ITUB4,ITAUUNIBANCO,37.55,37.58,36.91,36.21,22294700.0,8.294725e+10,NaN,NaN
2273,2020-01-07,ITUB4,ITAUUNIBANCO,37.07,37.24,36.21,35.62,20000900.0,7.294927e+10,NaN,NaN
2274,2020-01-08,ITUB4,ITAUUNIBANCO,36.45,36.81,35.62,34.91,25980900.0,9.345243e+10,36.912,NaN

In [12]:
#retirando os dados nulos
df_itau.dropna(inplace=True)
df_itau

C:\Users\fabri\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios,mm5d,mm21d
8321,2020-01-30,ITUB4,ITAUUNIBANCO,32.65,33.45,32.58,32.82,41789800.0,1.374939e+11,33.530,34.859048
8322,2020-01-31,ITUB4,ITAUUNIBANCO,32.99,33.39,32.54,32.90,25459800.0,8.358342e+10,33.246,34.610952
8323,2020-02-03,ITUB4,ITAUUNIBANCO,33.00,33.31,32.79,33.16,17586000.0,5.817445e+10,33.126,34.385714
8324,2020-02-04,ITUB4,ITAUUNIBANCO,33.36,33.46,32.90,33.36,15730300.0,5.220127e+10,33.060,34.199524
8325,2020-02-05,ITUB4,ITAUUNIBANCO,33.71,34.12,33.36,33.28,34791900.0,1.169225e+11,33.138,34.063810
...,...,...,...,...,...,...,...,...,...,...,...
125333,2021-01-08,ITUB4,ITAUUNIBANCO,32.93,33.44,32.43,32.08,52532500.0,1.721607e+11,31.760,31.444762
128673,2021-01-11,ITUB4,ITAUUNIBANCO,32.47,32.70,31.72,32.18,31564300.0,1.016568e+11,31.996,31.522857
128674,2021-01-12,ITUB4,ITAUUNIBANCO,32.18,32.45,32.02,31.65,33089300.0,1.066563e+11,32.292,31.609524
128675,2021-01-13,ITUB4,ITAUUNIBANCO,32.18,32.53,31.26,32.59,42722600.0,1.354698e+11,32.312,31.662381
128676,2021-01-14,ITUB4,ITAUUNIBANCO,32.02,32.94,31.67,31.36,28222500.0,9.166648e+10,32.264,31.711905

In [13]:
#reindexando o data frame
df_itau = df_itau.reset_index(drop=True)
df_itau

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_max,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios,mm5d,mm21d
0,2020-01-30,ITUB4,ITAUUNIBANCO,32.65,33.45,32.58,32.82,41789800.0,1.374939e+11,33.530,34.859048
1,2020-01-31,ITUB4,ITAUUNIBANCO,32.99,33.39,32.54,32.90,25459800.0,8.358342e+10,33.246,34.610952
2,2020-02-03,ITUB4,ITAUUNIBANCO,33.00,33.31,32.79,33.16,17586000.0,5.817445e+10,33.126,34.385714
3,2020-02-04,ITUB4,ITAUUNIBANCO,33.36,33.46,32.90,33.36,15730300.0,5.220127e+10,33.060,34.199524
4,2020-02-05,ITUB4,ITAUUNIBANCO,33.71,34.12,33.36,33.28,34791900.0,1.169225e+11,33.138,34.063810
...,...,...,...,...,...,...,...,...,...,...,...
233,2021-01-08,ITUB4,ITAUUNIBANCO,32.93,33.44,32.43,32.08,52532500.0,1.721607e+11,31.760,31.444762
234,2021-01-11,ITUB4,ITAUUNIBANCO,32.47,32.70,31.72,32.18,31564300.0,1.016568e+11,31.996,31.522857
235,2021-01-12,ITUB4,ITAUUNIBANCO,32.18,32.45,32.02,31.65,33089300.0,1.066563e+11,32.292,31.609524
236,2021-01-13,ITUB4,ITAUUNIBANCO,32.18,32.53,31.26,32.59,42722600.0,1.354698e+11,32.312,31.662381
237,2021-01-14,ITUB4,ITAUUNIBANCO,32.02,32.94,31.67,31.36,28222500.0,9.166648e+10,32.264,31.711905

In [14]:
#verificando quantidade de linhas
qtd_linhas = len(df_itau)

qtd_linhas_treino= round(.70 * qtd_linhas)
qtd_linhas_teste= qtd_linhas - qtd_linhas_treino  
qtd_linhas_validacao = qtd_linhas -1

info = (
    f"linhas treino= 0:{qtd_linhas_treino}"
    f" linhas teste= {qtd_linhas_treino}:{qtd_linhas_treino + qtd_linhas_teste -1}"
    f" linhas validação= {qtd_linhas_validacao}"
)

info

'linhas treino= 0:167 linhas teste= 167:237 linhas validação= 237'

In [15]:
#separando as features e labels
features = df_itau.drop(['sigla_acao', 'nome_acao', 'data_pregao', 'preco_fechamento'], 1)
labels = df_itau['preco_fechamento']

In [16]:
#Escolhendo as melhores features com Kbest

features_list = ('preco_abertura','preco_max','preco_minimo','qtd_negocios','volume_negocios','mm5d','mm21d')

k_best_features = SelectKBest(k='all')
k_best_features.fit_transform(features, labels)
k_best_features_scores = k_best_features.scores_
raw_pairs = zip(features_list[1:], k_best_features_scores)
ordered_pairs = list(reversed(sorted(raw_pairs, key=lambda x: x[1])))

k_best_features_final = dict(ordered_pairs[:15])
best_features = k_best_features_final.keys()
print ('')
print ("Melhores features:")
print (k_best_features_final)

Melhores features:
{'qtd_negocios': 18.799424892097544, 'preco_minimo': 15.959684908457135, 'preco_max': 10.97138027738372, 'mm21d': 7.809600323338402, 'mm5d': 2.2915178065342623, 'volume_negocios': 1.79780379509346}

In [17]:
#separando as features escolhidas
features = df_itau.loc[:,['preco_max','preco_minimo','volume_negocios','mm5d']]

In [18]:
features

     preco_max  preco_minimo  volume_negocios    mm5d
0        33.45         32.58     1.374939e+11  33.530
1        33.39         32.54     8.358342e+10  33.246
2        33.31         32.79     5.817445e+10  33.126
3        33.46         32.90     5.220127e+10  33.060
4        34.12         33.36     1.169225e+11  33.138
..         ...           ...              ...     ...
233      33.44         32.43     1.721607e+11  31.760
234      32.70         31.72     1.016568e+11  31.996
235      32.45         32.02     1.066563e+11  32.292
236      32.53         31.26     1.354698e+11  32.312
237      32.94         31.67     9.166648e+10  32.264

[238 rows x 4 columns]

In [19]:
#Separa os dados de treino teste e validação
X_train = features[:qtd_linhas_treino]
X_test = features[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

y_train = labels[:qtd_linhas_treino]
y_test = labels[qtd_linhas_treino:qtd_linhas_treino + qtd_linhas_teste -1]

print( len(X_train), len(y_train))

print( len(X_test), len(y_test))

167 167
70 70

In [20]:
# Normalizando os dados de entrada(features)

# Gerando o novo padrão
scaler = MinMaxScaler()
X_train_scale = scaler.fit_transform(X_train)  # Normalizando os dados de entrada(treinamento)
X_test_scale  = scaler.transform(X_test)       # Normalizando os dados de entrada(teste)

In [21]:
#treinamento usando regressão linear
lr = linear_model.LinearRegression()
lr.fit(X_train_scale, y_train)
pred= lr.predict(X_test_scale)
cd =r2_score(y_test, pred)

f'Coeficiente de determinação:{cd * 100:.2f}'

'Coeficiente de determinação:95.39'

In [22]:
#rede neural
rn = MLPRegressor(max_iter=2000)

rn.fit(X_train_scale, y_train)
pred= rn.predict(X_test_scale)

cd = rn.score(X_test_scale, y_test)


f'Coeficiente de determinação:{cd * 100:.2f}'

C:\Users\fabri\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

'Coeficiente de determinação:93.77'

In [23]:
#rede neural com ajuste hyper parameters

rn = MLPRegressor()

parameter_space = {
        'hidden_layer_sizes': [(i,) for i in list(range(1, 21))],
        'activation': ['tanh', 'relu'],
        'solver': ['sgd', 'adam', 'lbfgs'], 
        'alpha': [0.0001, 0.05],
        'learning_rate': ['constant', 'adaptive'],
    }

search = GridSearchCV(rn, parameter_space, n_jobs=-1, cv=5)


search.fit(X_train_scale,y_train)
clf = search.best_estimator_
pred= search.predict(X_test_scale)

cd = search.score(X_test_scale, y_test)

f'Coeficiente de determinação:{cd * 100:.2f}'

'Coeficiente de determinação:94.38'

In [24]:
valor_novo = features.tail(1)
valor_novo

     preco_max  preco_minimo  volume_negocios    mm5d
237      32.94         31.67     9.166648e+10  32.264

In [25]:
#executando a previsão


previsao=scaler.transform(valor_novo)


pred=lr.predict(previsao)

pred

array([31.84759339])

In [26]:
df = df[df['sigla_acao'] == 'ITUB4' ]

In [27]:

data_pregao_full=df['data_pregao']
data_pregao=data_pregao_full.tail(1)

res_full=df['preco_fechamento']
res=res_full.tail(1)

df=pd.DataFrame({'data_pregao':data_pregao, 'real':res, 'previsao':pred})


df.set_index('data_pregao', inplace=True)

print(df)

              real   previsao
data_pregao
2021-01-15   31.36  31.847593